parameters:
    environment: 'production'
    database:
        host: curator-db
        dbname: curator
        user: curator
        password: curator

aws:
    endpoint: s3endpoint
    use_path_style_endpoint: false
    credentials:
        key: key
        secret: secret

security:
    users:
        prc: prc
        admin: admin
