{block content}
<h2>Reports</h2>
<a n:href="Home:">back to main</a>

<h4>Tools available</h4>
<ol>
    <li><a n:href=":integrity">Integrity checks</a></li>
    <li><a n:href=":stats">Statistics</a></li>
</ol>
