parameters:
    environment: 'development'

services:
    cacheStorage:
        factory: Nette\Caching\Storages\DevNullStorage

aws:
    endpoint: http://minio:9000
    use_path_style_endpoint: true
    credentials:
        key: minio
        secret: password
