services:
	- App\Core\RouterFactory::createRouter
	- App\Services\S3Service
	- App\Services\TestService
	- App\Services\DatabaseService
	- App\Services\WebDir(%wwwDir%)
	- App\Services\TempDir(%tempDir%)
	- App\Model\PhotoOfSpecimenFactory


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
