services:
	- App\Core\RouterFactory::createRouter
	- App\Services\S3Service
	- App\Services\TestService
	- App\Services\WebDir(%wwwDir%)


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
